<div class="container card">
  <div class="row">
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="textSearch"
        placeholder="Type here to search..."
      />
    </div>
    <div class="col-md-4 align-right pull-right">
      <button
        type="button"
        class="btn btn-sm btn-primary"
        (click)="addForm(activeGrid)"
        data-toggle="modal"
        [attr.data-target]="targetModal"
      >
        <i class="fas fa-plus"></i> {{ addBtnTitle }}
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="gradient">
        <tr>
          @for (column of columns; track $index) {
          <th>{{ column }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of rows | filter: textSearch | paginate: { itemsPerPage: 10,
        currentPage: p } ; track $index ) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ data["label"] }}</td>
          <td>
            <i
              class="fas fa-edit text-primary curser"
              (click)="edit(data, activeGrid)"
              data-toggle="modal"
              [attr.data-target]="targetModal"
            ></i>
            &nbsp;
            <i
              class="fas fa-trash text-danger curser"
              (click)="confirmDelete(data, activeGrid)"
            ></i>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="7">
            <h2 class="text-center text-danger">{{ warningText }}</h2>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
