<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ appStrings["productSetting"] }}</h1>
      </div>
    </div>
  </div>
</section>
<app-data-grid
  [columns]="PRODUCT_SETTINGS_COLUMNS"
  [rows]="productTypes"
  [warningText]="warningText"
  (invokeEdit)="edit($event)"
  (invokeDelete)="confirmDelete($event)"
  (invokeAddForm)="addForm($event); clearForm()"
  [addBtnTitle]="appStrings['newProductType']"
  [activeGrid]="'productType'"
  [targetModal]="'#addSetting'"
></app-data-grid>

<app-data-grid
  [columns]="PRODUCT_SETTINGS_COLUMNS"
  [rows]="fittingTypes"
  [warningText]="warningText"
  (invokeEdit)="edit($event)"
  (invokeDelete)="confirmDelete($event)"
  (invokeAddForm)="addForm($event); clearForm()"
  [addBtnTitle]="appStrings['newFittingType']"
  [activeGrid]="'fittingType'"
  [targetModal]="'#addSetting'"
></app-data-grid>

<app-data-grid
  [columns]="PRODUCT_SETTINGS_COLUMNS"
  [rows]="topSizes"
  [warningText]="warningText"
  (invokeEdit)="edit($event)"
  (invokeDelete)="confirmDelete($event)"
  (invokeAddForm)="addForm($event); clearForm()"
  [addBtnTitle]="appStrings['newTtopSizes']"
  [activeGrid]="'topSizes'"
  [targetModal]="'#addSetting'"
></app-data-grid>

<app-data-grid
  [columns]="PRODUCT_SETTINGS_COLUMNS"
  [rows]="bottomSizes"
  [warningText]="warningText"
  (invokeEdit)="edit($event)"
  (invokeDelete)="confirmDelete($event)"
  (invokeAddForm)="addForm($event); clearForm()"
  [addBtnTitle]="appStrings['newBottomSizes']"
  [activeGrid]="'bottomSizes'"
  [targetModal]="'#addSetting'"
></app-data-grid>

<div
  class="modal fade"
  bsModal
  #addSetting
  id="addSetting"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header modal-head">
        <h4 class="modal-title">
          {{ formTitle }}
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="onSubmit()"
          role="form"
          [formGroup]="frmSettings"
          autocomplete="off"
        >
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="type">{{ appStrings["type"] }} :</label>&nbsp;<i
                  class="fa fa-asterisk"
                  style="color: red; font-size: 10px"
                ></i>
                <input
                  type="text"
                  name="label"
                  class="form-control"
                  formControlName="label"
                  id="type"
                  placeholder="{{ appStrings['type'] }}"
                  min="0"
                  [ngClass]="{ 'is-invalid': submitted && f['label'].errors }"
                />
                <div *ngIf="submitted && f['label'].errors" class="text-danger">
                  <div *ngIf="f['label'].errors['required']">
                    {{ appStrings["typeWarningText"] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              [disabled]="frmSettings.invalid"
              class="btn btn-primary btn-sm"
            >
              <i class="fas fa-save"></i>&nbsp;
              {{ isUpdate ? "Update" : "Save" }}
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-dismiss="modal"
            >
              <i class="fas fa-times"></i>&nbsp; {{ appStrings["close"] }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal
  [module]="appStrings['record']"
  (onConfirmCallback)="deleteSettings()"
></app-confirm-modal>
