<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Change Password</h1>
          </div>
      </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="card card-light">
          <form role="form" (ngSubmit)="onSubmit()" [formGroup]='frmChangePassword'>
            <div class="card-body">
              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password"  name="currentPassword" formControlName="currentPassword"  class="form-control" id="currentPassword" placeholder="Current Password" [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }">
                <div *ngIf="submitted && f['currentPassword'].errors" class="text-danger" >
                  <!-- <div *ngIf="f['currentPassword'].errors.required"> Please enter current password.</div> -->
              </div>
              </div>
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password"  name="newPassWord" formControlName="newPassWord" class="form-control" id="newPassword" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f['newPassWord'].errors }">
                 <div *ngIf="submitted && f['newPassWord'].errors" class="text-danger" >
                  <!-- <div *ngIf="f['newPassWord'].errors.required"> Please new password.</div> -->
              </div>
              </div>
              <div class="form-group">
                <label for="confirmPassWord">Confirm Password</label>
                <input type="password"  name="confirmPassWord" formControlName="confirmPassWord" class="form-control" id="confirmPassWord" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f['confirmPassWord'].errors }">
                 <div *ngIf="submitted && f['confirmPassWord'].errors" class="text-danger" >
                  <!-- <div *ngIf="f['confirmPassWord'].errors.required"> Please confirm password.</div> -->
              </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-right">
              <button type="submit" class="btn btn-info"><i class="las la-save"></i> Save</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-4">
        <div class="card card-light">
         <img src="../../../assets/dist/img/changePassword.jpg" class="img-responsive img-fluid" style="height: 360px;">
        </div>
      </div>
    </div>
  </div>
</section>
