<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{appStrings['manageSales']}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{appStrings['home']}}</a></li>
          <li class="breadcrumb-item active">{{appStrings['manageSales']}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container card">
  <div class="row pr-0">
    <div class="col-md-8">
      <input type="text" class="form-control" name="textSearch" [(ngModel)]="textSearch"
        placeholder="Type here to search..." />
    </div>
    <div class="col-md-4 align-right pr-0">
      <button type="button" class="btn btn-sm btn-primary " (click)="clearForm()" data-toggle="modal"
        data-target="#addSale">
        <i class="fas fa-plus"></i>&nbsp; {{appStrings['newSale']}}
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="gradient">
        <tr>
          @for (column of SALES_GRID_COLUMNS; track $index) {
          <th>{{column}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of sales | filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p } ; track $index ) {
        <tr>
          <td>{{$index+1}}</td>
          <td>
            {{data.date | date:'dd-MM-yyyy'}}
          </td>
          <td>{{data.actualPrice}}</td>
          <td>{{data.sellingPrice}}</td>
          <td>{{data.profitAmount}}</td>
          <td>
            <i class="fas fa-edit text-primary curser" (click)="editSale(data)" data-toggle="modal"
              data-target="#addSale"></i> &nbsp;
            <i class="fas fa-trash text-danger curser" (click)="confirmDelete(data)"></i>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="6">
            <h2 class="text-center text-danger">{{warningText}}</h2>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modal fade" bsModal #addSale id="addSale" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-head">
        <h4 class="modal-title">{{isUpdate ? appStrings['updateSale'] : appStrings['addSale']}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" role="form" [formGroup]='frmSale'>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="date">{{appStrings['sellingDate']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="date" placeholder="Import date" class="form-control" formControlName="date"
                  [ngClass]="{ 'is-invalid': submitted && f['date'].errors }">
                <div *ngIf="submitted && f['date'].errors" class="text-danger">
                  <div *ngIf="f['date'].errors['required']"> {{appStrings['enterDateText']}}</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="actualPrice">{{appStrings['actualPrice']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="actualPrice" id="actualPrice"
                  placeholder="Actual price" min="0"
                  [ngClass]="{ 'is-invalid': submitted && f['actualPrice'].errors }" />
                <div *ngIf="submitted && f['actualPrice'].errors" class="text-danger">
                  <div *ngIf="f['actualPrice'].errors['required']"> {{appStrings['enterActualPrice']}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="sellingPrice">{{appStrings['sellingPrice']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="sellingPrice" id="sellingPrice"
                  placeholder="Selling price" min="0"
                  [ngClass]="{ 'is-invalid': submitted && f['sellingPrice'].errors }" />
                <div *ngIf="submitted && f['sellingPrice'].errors" class="text-danger">
                  <div *ngIf="f['sellingPrice'].errors['required']"> {{appStrings['enterSellingPrice']}}</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="profitAmount">{{appStrings['profit']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="profitAmount" id="profitAmount"
                   placeholder="Profit" min="0" [ngClass]="{ 'is-invalid': submitted && f['profitAmount'].errors }"
                  readonly />
                <div *ngIf="submitted && f['profitAmount'].errors" class="text-danger">
                  <div *ngIf="f['profitAmount'].errors['required']"> {{appStrings['enterProfit']}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="submit" [disabled]="frmSale.invalid" class="btn btn-primary btn-sm">
              <i class="fas fa-save"></i>&nbsp; {{isUpdate ? 'Update': 'Save'}}</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
              <i class="fas fa-times"></i>&nbsp; {{appStrings['close']}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-confirm-modal [module]="'Import'" (onConfirmCallback)="deleteSale()"></app-confirm-modal>