<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Manage Credit</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Manage Credit</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section><div class="container card">
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Type here to search..."/>
    </div>
    <div class="col-md-4 pull-right">
      <button type="button" class="btn btn-sm btn-primary" (click)="clearForm()" data-toggle="modal" data-target="#addCredit">
        <i class="fas fa-plus"></i>  New Credit
      </button>
    </div>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead class="gradient">
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Buyer Name</th>
        <th>Credit Amount</th>
        <th>Paid Amount</th>
        <th>Remaining Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let data of credits| filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p }; let i = index "> -->
        <tr *ngFor="let data of credits; let i = index ">
        <td>{{i+1}}</td>
        <td>
          {{data['date']}}
        </td>
        <td>{{data['name']}}</td>
        <td>{{data['creditAmount']}}</td>
        <td>{{data['paidAmount']}}</td>
        <td>{{data['remainingAmount']}}</td>
        <td>
          <i class="fas fa-edit text-primary curser" (click)="editCredit(data)" data-toggle="modal" data-target="#addCredit"></i> &nbsp;
          <i class="fas fa-trash text-danger curser" (click)="deleteCredit(data.$key)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
<h2 class="text-center text-danger" *ngIf="!credits">No Data Found</h2>

  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>

<div class="modal fade" bsModal #addCredit  id="addCredit" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-head">
        <h4 class="modal-title">Add Credit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  (ngSubmit)="onSubmit()" role="form" [formGroup] = 'frmCredit' autocomplete="off">
          <div class="row">
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="date">Credit Date :</label>&nbsp;<i class="fa fa-asterisk" style="color:red; font-size:10px;"></i>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true,  adaptivePosition: true }" placeholder="Credit date" class="form-control" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" bsDatepicker>
                <div *ngIf="submitted && f.date.errors" class="text-danger">
                  <div *ngIf="f.date.errors.required"> Please select date.</div>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Buyer Name :</label>&nbsp;<i class="fa fa-asterisk" style="color:red; font-size:10px;"></i>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="name" min="0" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                <div *ngIf="submitted && f['name'].errors" class="text-danger">
                  <!-- <div *ngIf="f['name'].errors.required"> Please enter name.</div> -->
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="creditAmount">Credit Amount :</label>&nbsp;<i class="fa fa-asterisk" style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="creditAmount" id="creditAmount" placeholder="Credit amount" min="0" [ngClass]="{ 'is-invalid': submitted && f['creditAmount'].errors }"/>
                <div *ngIf="submitted && f['creditAmount'].errors" class="text-danger">
                  <!-- <div *ngIf="f['creditAmount'].errors.required"> Please enter credit amount.</div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="paidAmount">Paid Amount :</label>&nbsp;<i class="fa fa-asterisk" style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="paidAmount" id="paidAmount" placeholder="Paid amount" min="0"  [ngClass]="{ 'is-invalid': submitted && f['paidAmount'].errors }"/>
                <div *ngIf="submitted && f['paidAmount'].errors" class="text-danger">
                  <!-- <div *ngIf="f.paidAmount.errors.required"> Please enter paid amount.</div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="remainingAmount">Remaining Amount :</label>&nbsp;<i class="fa fa-asterisk" style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="remainingAmount" id="remainingAmount" placeholder="Remaining amount" min="0" [ngClass]="{ 'is-invalid': submitted && f['remainingAmount'].errors }"/>
                <div *ngIf="submitted && f['remainingAmount'].errors" class="text-danger">
                  <!-- <div *ngIf="f['remainingAmount'].errors.required"> Please enter remaining amount.</div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i>Close</button>
          </div>
          <!-- /.card-body -->
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
