<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{appStrings['manageImport']}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{appStrings['home']}}</a></li>
          <li class="breadcrumb-item active">{{appStrings['manageImport']}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container card">
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Type here to search..." />
    </div>
    <div class="col-md-4 align-right">
      <button type="button" class="btn btn-sm btn-primary" (click)="clearForm()" data-toggle="modal"
        data-target="#addImport">
        <i class="fas fa-plus"></i> {{appStrings['newImport']}}
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="gradient">
        <tr>
          @for (column of IMPORT_GRID_COLUMNS; track $index) {
          <th>{{column}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of imports | filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p } ; track $index ) {
        <tr>
          <td>{{$index+1}}</td>
          <td>
            {{data.date | date:'dd-MM-yyyy'}}
          </td>
          <td>{{data.amount}}</td>
          <td>{{data.description}}</td>
          <td>
            <i class="fas fa-edit text-primary curser" (click)="editImport(data)" data-toggle="modal"
              data-target="#addImport"></i> &nbsp;
            <i class="fas fa-trash text-danger curser" (click)="confirmDelete(data)"></i>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="5">
            <h2 class="text-center text-danger">{{warningText}}</h2>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modal fade" bsModal #addImport id="addImport" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-head">
        <h4 class="modal-title">{{isUpdate ? 'Update': 'Add'}} {{appStrings['import']}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" role="form" [formGroup]='frmImport' autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="date">{{appStrings['importDate']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="date" placeholder="Import date" class="form-control" formControlName="date"
                  [ngClass]="{ 'is-invalid': submitted && f['date'].errors }">
                <div *ngIf="submitted && f['date'].errors" class="text-danger">
                  <div *ngIf="f['date'].errors['required']"> {{appStrings['enterDateText']}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="amount">{{appStrings['amount']}} :</label>&nbsp;<i class="fa fa-asterisk"
                  style="color:red; font-size:10px;"></i>
                <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Amount"
                  min="0" [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }" />
                <div *ngIf="submitted && f['amount'].errors" class="text-danger">
                  <div *ngIf="f['amount'].errors['required']">{{appStrings['enterAmountText']}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">{{appStrings['description']}} :</label>
                <textarea name="description" id="description" placeholder="Description" class="form-control"
                  formControlName="description" cols="30" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="submit" [disabled]="frmImport.invalid" class="btn btn-primary btn-sm">
              <i class="fas fa-save"></i>&nbsp; {{isUpdate ? 'Update': 'Save'}}</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-times"></i>&nbsp;
              {{appStrings['close']}} </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal [module]="'Import'" (onConfirmCallback)="deleteImport()"></app-confirm-modal>