<aside class="main-sidebar sidebar-dark-info nav-bar-light-new elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link navbar-purple">
    <img src="../../../assets/dist/img/logo.jpg" alt="AdminLTE Logo" class="brand-image elevation-3"
           style="opacity: .8">
    <span class="brand font-weight-light"><b>KHAN fashion-hub</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" routerLink="/default/dashboard" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" routerLink="/default/user" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Manage User
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="#" routerLink="/default/product" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-archive"></i>
            <p>
              Manage Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/default/import" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-box-open"></i>
            <p>
              Manage Package
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/default/sales" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Manage Sales
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/default/credits" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-user-tag"></i>
            <p>
              Manage Credits
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/default/receipt" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-receipt"></i>
            <p>
              Manage Receipt
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" routerLink="/default/change-password" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-unlock-alt"></i>
            <p>Change Password</p>
          </a>
        </li> -->
        <li class="nav-item" style="cursor: pointer;">
          <a (click)="logOut()" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Logout

            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
