.nav-bar-light-new {
  background-color: #141617;
}

.navbar-purple {
  background: #FF0099;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #FF0099);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #7e1755);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.brand {
  color: white;
}

.w-0p {
  width: 0px;
}