<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{appStrings['addReceipt']}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">{{appStrings['home']}}</a></li>
          <li class="breadcrumb-item active">{{appStrings['addReceipt']}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container card">
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Type here to search..." />
    </div>
    <div class="col-md-4 pull-right">
      <button type="button" class="btn btn-sm btn-primary" (click)="backToReceipt()">
        <i class="fas fa-arrow-left"></i> {{appStrings['back']}}
      </button>
    </div>
  </div>
  <div>
    <form (ngSubmit)="onSubmit()" class="form-horizontal" role="form" [formGroup]='frmReceipt' autocomplete="off">
      <div class="row">
        <div class="col-md-2">
          <label for="customerName">{{appStrings['customerName']}} :</label>&nbsp;<i class="fa fa-asterisk"
            style="color:red; font-size:10px;"></i>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <input type="text" name="customerName" class="form-control" formControlName="customerName" id="customerName"
              placeholder="Customer name" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
            <div *ngIf="submitted && f.customerName.errors" class="text-danger">
              <div *ngIf="f.customerName.errors.required">{{appStrings['customerNameWarningText']}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <label for="receiptDate">{{appStrings['receiptDate']}} :</label>&nbsp;<i class="fa fa-asterisk"
            style="color:red; font-size:10px;"></i>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="date" name="receiptDate" class="form-control" formControlName="receiptDate"
              style="margin-left: -28px;">
            <div *ngIf="submitted && f.receiptDate.errors" class="text-danger">
              <div *ngIf="f['receiptDate'].errors['required']"> {{appStrings['receiptWarningText']}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <label for="mobileNumber" class="w-78">{{appStrings['mobile']}} : </label>
        </div>
        <div class="col-md-2">
          <input type="text" name="mobileNumber" class="form-control" formControlName="mobileNumber" id="mobileNumber"
            placeholder="Mobile number" />
        </div>
        <div class="col-md-1">
          <label for="gst" class="w-78">{{appStrings['gst']}} : (%)</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="gst" class="form-control" formControlName="gst" id="gst" [(ngModel)]="gst"
            (ngModelChange)="claculateGST()" placeholder="{{appStrings['gst']}}" />
        </div>
        <div class="col-md-1">
          <label for="cgst" class="w-78">{{appStrings['cgst']}} : (%)</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="cgst" class="form-control" formControlName="cgst" id="cgst"
            placeholder="{{appStrings['cgst']}}" [disabled]="true" />
        </div>
        <div class="col-md-1">
          <label for="sgst" class="w-78">{{appStrings['sgst']}} : (%)</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="sgst" class="form-control" formControlName="sgst" id="sgst"
            placeholder="{{appStrings['sgst']}}" [disabled]="true" />
        </div>

      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-2">
          <label for="productName">{{appStrings['selectProduct']}} :</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <!-- <ng-select
            [items]="products"
            name="productName"
            bindLabel="name"
            bindValue="name"
            formControlName="productName"
            placeholder="Select type" >
          </ng-select> -->
            <select name="productName" id="productName" formControlName="productName" placeholder="Select type">
              <option value="" class="form-control" disabled selected>{{appStrings['optionPlaceholder']}} </option>
              @for (item of products; track $index) {
              <option value="item.name">{{item.name}}</option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-1">
          <label for="quantity" class="w-78">{{appStrings['quantity']}} :</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="quantity" class="form-control" formControlName="quantity" id="quantity"
            placeholder="{{appStrings['quantity']}}" />
        </div>
        <div class="col-md-1">
          <label for="rate" class="w-78">{{appStrings['rate']}} :</label>
        </div>
        <div class="col-md-2">
          <input type="text" name="rate" class="form-control" formControlName="rate" id="rate"
            placeholder="{{appStrings['rate']}}" />
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-info btn-sm" (click)="calc()"><i class="fas fa-plus"></i>
            {{appStrings['add']}}</button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="gradient">
      <tr>
        @for (column of RECEIPT_INVOICE_COLUMNS; track $index) {
        <th>{{column}}</th>
        }
      </tr>
      <!-- <tr>
        <th>#</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Taxable Amount</th>
        <th>GST (%)</th>
        <th>CGST</th>
        <th>SGST</th>
        <th>IGST</th>
        <th>Total</th>
        <th>Action</th>
      </tr> -->
    </thead>
    <tbody>
      @for (data of invoiceArray | filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p } ; track $index )
      {
      <!-- <tr *ngFor="let data of invoiceArray| filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p }; let i = index "> -->
      <!-- <tr *ngFor="let data of invoiceArray; let i = index "> -->
      <tr>
        <td>{{$index+1}}</td>
        <td>
          {{data.productName}}
        </td>
        <td>{{data.quantity}}</td>
        <td>{{data.rate}}</td>
        <td>{{data.taxableAmount}}</td>
        <td>{{data.gst}}</td>
        <td>{{data.cgst}}</td>
        <td>{{data.sgst}}</td>
        <td>{{data.igst}}</td>
        <td>{{data.total}}</td>
        <td>
          <i class="fas fa-edit text-primary curser" (click)="editinvoiceRow($index, data)"></i> &nbsp;
          <i class="fas fa-trash text-danger curser" (click)="removeRow($index,  data)"></i>
        </td>
      </tr>
      }
      <tr>
        <td colspan="4"></td>
        <td>{{taxableAmountSum}}</td>
        <td colspan="1"></td>
        <td>{{cgstSum}}</td>
        <td>{{sgstSum}}</td>
        <td>{{appStrings['grandTotal']}}</td>
        <td>{{grandTotal}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm float-right" (click)="onSubmit()"><i class="fas fa-save"></i>
        {{appStrings['save']}}</button>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>