<section class="content-header card">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{appStrings['addReceipt']}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/default/receipt']">{{appStrings['manageSales']}}</a></li>
          <li class="breadcrumb-item active">{{appStrings['addReceipt']}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<div class="container card">
  <div class="row">
    <div class="col-md-12 align-right">
      @if(formToggler){
      <i class="fas fa-angle-down cursor f-24" (click)="toggleForm()"></i>
      }@else{
      <i class="fas fa-angle-up cursor f-24" (click)="toggleForm()"></i>
      }
    </div>
  </div>
  <div [ngClass]="formToggler ? 'hide' : ''">
    <form (ngSubmit)="onSubmit()" class="form-horizontal" role="form" [formGroup]='frmReceipt' autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <label for="customerName">{{appStrings['customerName']}} :</label>&nbsp;
          <i class="fa fa-asterisk f-required"></i>
          <div class="form-group">
            <input type="text" name="customerName" class="form-control" formControlName="customerName" id="customerName"
              placeholder="Customer name" [ngClass]="{ 'is-invalid': submitted && f['customerName'].errors }" />
            <div *ngIf="submitted && f['customerName'].errors" class="text-danger">
              <div *ngIf="f['customerName'].errors['required']">{{appStrings['customerNameWarningText']}}</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <label for="receiptDate">{{appStrings['receiptDate']}} :</label>&nbsp;
          <i class="fa fa-asterisk f-required"></i>
          <div class="form-group">
            <input type="date" name="receiptDate" class="form-control" formControlName="receiptDate">
            <div *ngIf="submitted && f['receiptDate'].errors" class="text-danger">
              <div *ngIf="f['receiptDate'].errors['required']"> {{appStrings['receiptWarningText']}}</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="mobileNumber">{{appStrings['mobile']}} : </label>
          <input type="number" name="mobileNumber" class="form-control" formControlName="mobileNumber" id="mobileNumber"
            placeholder="Mobile number" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="gst">{{appStrings['gst']}} {{appStrings['percent']}} : </label>
          <input type="number" name="gst" class="form-control" formControlName="gst" id="gst" (keyup)="claculateGST()"
            placeholder="{{appStrings['gst']}}" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="cgst">{{appStrings['cgst']}} {{appStrings['percent']}} : </label>
          <input type="number" name="cgst" class="form-control" formControlName="cgst" id="cgst"
            placeholder="{{appStrings['cgst']}}" readonly="true" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="sgst">{{appStrings['sgst']}} {{appStrings['percent']}} : </label>
          <input type="number" name="sgst" class="form-control" formControlName="sgst" id="sgst"
            placeholder="{{appStrings['sgst']}}" readonly="true" />
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="productName">{{appStrings['selectProduct']}} :</label>
          &nbsp;<i class="fa fa-asterisk f-required"></i>
          <div class="form-group">
            <select name="productName" class="form-control" id="productName" formControlName="productName"
              (change)="setProductPrice()" placeholder="Select type">
              <option value="" class="form-control" disabled selected>{{appStrings['productOptionPlaceholder']}} </option>
              @for (item of products; track $index) {
              <option [value]="item.name">{{item.name}}</option>
              }
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <label for="quantity">{{appStrings['quantity']}} :</label>
          &nbsp;<i class="fa fa-asterisk f-required"></i>
          <input type="number" name="quantity" class="form-control" formControlName="quantity" id="quantity"
            placeholder="{{appStrings['quantity']}}" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <label for="rate">{{appStrings['rate']}} :</label>
          &nbsp;<i class="fa fa-asterisk f-required"></i>
          <input type="number" name="rate" class="form-control" formControlName="rate" id="rate"
            placeholder="{{appStrings['rate']}}" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 align-add-action">
          <button type="button" class="btn btn-info btn-sm" (click)="calc()" [disabled]="frmReceipt.invalid">
            <i class="fas fa-plus"></i>
            {{appStrings['add']}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container card">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Search product" />
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="gradient">
      <tr>
        @for (column of RECEIPT_INVOICE_COLUMNS; track $index) {
        <th>{{column}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (data of invoiceArray | filter: textSearch | paginate: { itemsPerPage: 10, currentPage: p } ; track $index )
      {
      <tr>
        <td>{{$index+1}}</td>
        <td>
          {{data.productName}}
        </td>
        <td>{{data.quantity}}</td>
        <td>{{data.rate}}</td>
        <td>{{data.taxableAmount}}</td>
        <td>{{data.gst}}</td>
        <td>{{data.cgst}}</td>
        <td>{{data.sgst}}</td>
        <td>{{data.igst}}</td>
        <td>{{data.total}}</td>
        <td>
          <i class="fas fa-edit text-primary curser" (click)="editinvoiceRow($index, data)"></i> &nbsp;
          <i class="fas fa-trash text-danger curser" (click)="removeRow($index,  data)"></i>
        </td>
      </tr>
      }
      <tr>
        <td colspan="4"></td>
        <td>{{taxableAmountSum}}</td>
        <td colspan="1"></td>
        <td>{{cgstSum}}</td>
        <td>{{sgstSum}}</td>
        <td>{{appStrings['grandTotal']}}</td>
        <td>{{grandTotal}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-sm float-right" (click)="onSubmit()"
        [disabled]="frmReceipt.invalid && !invoiceArray?.length"><i class="fas fa-save"></i>
        {{appStrings['save']}}</button>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>