/* You can add global styles to this file, and also import other style files */
.align-right {
    text-align: right;
}

.pr-0 {
    padding-right: 0px;
}

.cursor {
    cursor: pointer;
}

.f-required {
    color: red;
    font-size: 10px;
}

.hide {
    display: none;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-250 {
    margin-left: 250px !important;
}