.container {
  padding: 15px;
}

.row {
  margin: 5px;
}

.gradient {
  background: linear-gradient(to top, #901962e0, #ff0099);
  color: white;
}

.modal-head {
  color: whitesmoke;
  background: #ff0099;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #ff0099);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #ff0099);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-image-action {
  color: blue;

  &:hover {
    font-weight: 500;
    color: blue;
    text-decoration: underline;
  }
}

.product-image {
  width: 120px;
  height: 120px;
  margin-top: 12px;
}

p {
  margin-bottom: 0px;
}

.c-info {
  color: #007bff;
}

.align-color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & div:first-child {
    width: 300px;
  }

  & button {
    margin-top: 16px;
  }
}

.color-bullet {
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 5px;
}

.close-icon {
  display: block;
  font-size: 14px;
  margin: -45px 30px;
  position: absolute;
  cursor: pointer;
  font-family: sans-serif;
}

.colors-container {
  padding: 8px 7px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.align-sizes {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.mgl-40 {
  margin-left: -40px;
}

.align-size {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding-right: 30px;
}
