<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{appStrings['dashboard']}}</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>
            <p>{{appStrings['totalProducts']}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-tshirt"></i>
          </div>
          <a [routerLink]="['/default/product']" class="small-box-footer">{{appStrings['moreInfo']}} <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53</h3>
            <p>{{appStrings['totalSales']}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-rupee-sign"></i>
          </div>
          <a [routerLink]="['/default/receipt']" class="small-box-footer">{{appStrings['moreInfo']}} <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>
            <p>{{appStrings['totalImports']}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-warehouse"></i>
          </div>
          <a [routerLink]="['/default/import']" class="small-box-footer">{{appStrings['moreInfo']}} <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>65</h3>
            <p>{{appStrings['totalCredits']}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <a [routerLink]="['/default/credits']" class="small-box-footer">{{appStrings['moreInfo']}} <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>